

@font-face {
    font-family: 'lubalgraphxl';
    src: url('../fonts/lubgr/lubgrxl-webfont.eot');
    src: url('../fonts/lubgr/lubgrxl-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lubgr/lubgrxl-webfont.woff2') format('woff2'),
         url('../fonts/lubgr/lubgrxl-webfont.woff') format('woff'),
         url('../fonts/lubgr/lubgrxl-webfont.ttf') format('truetype'),
         url('../fonts/lubgr/lubgrxl-webfont.svg#lubalgraph_xlt_btextra_light') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lubalgraphmd';
    src: url('../fonts/lubgr/lubgrhn-webfont.eot');
    src: url('../fonts/lubgr/lubgrhn-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lubgr/lubgrhn-webfont.woff2') format('woff2'),
         url('../fonts/lubgr/lubgrhn-webfont.woff') format('woff'),
         url('../fonts/lubgr/lubgrhn-webfont.ttf') format('truetype'),
         url('../fonts/lubgr/lubgrhn-webfont.svg#lubalgraph_bk_btbook') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    margin: 0;
    padding: 0;
    background-color: #F0F0F0;
    font-size: 18px;
}
.container{
    font-family: 'lubalgraphxl', helvetica;
    color: black;
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    z-index: 3;
   background-color: white; 
}
/* .bg{
   width: 100%;
   background: white url(../images/background.png) left top repeat-x;
   z-index: 0;
   opacity: 0.5;
} */

.col1{
    border: none;
    width: 100%;
    margin-right: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.col2{
    margin: 0;
    width: 100%;
    display: inline-block;
    border-left: 2px solid  #b4b8bb;
}

.box_info{
    border-top: 1px solid #b4b8bb;
    padding: 4% 5%;
    width: 90%;
    vertical-align: top;
    background-color: white;
}

.msg_success{
   color: teal;
   text-align: center;
   font-family: 'lubalgraphmd';
}
.msg_erreur{
   color: tomato;
   text-align: center;
   font-family: 'lubalgraphmd';
}


/* titres et liens */
h1, h2, h3, h4{
    font-family: 'lubalgraphxl', helvetica;
}
h2{
    font-size: 1.2em;
}
p{
    margin: 0;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a,th{
   color: black;
   text-decoration: none;
	font-family: 'lubalgraphmd';
}
a:hover,tr,input[type=submit], input, textarea, select{
    transition: all 0.3s ease-in-out;
}

a:hover,
.active,
.actif{
    /*border-bottom: orange solid 1px;*/
    color: #b4b8bb;
}
a.btn_delete,a.btn_edit{
   font-weight: bold;
   padding: 12px;
   /*font-size: 1.3em;*/
}
a.btn_delete:hover{
   color: tomato;
   border: none;
}
a.btn_edit:hover{
   color: teal;
   border: none;
}
a.noborder_lien:hover{
    border-bottom: none;
    border: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover{
   border-bottom: none;
}

a.btn_index{
   display: block;
   background: #FF9133;
   width: 40%;
   margin-left: 29%;
   margin-top: 2%;
   margin-bottom: 2%;
   padding: 1%;
   border: 1px solid orange;
   border-radius: 3px;
   color: white;
   font-weight: bold;
   letter-spacing: 2px;
}
a.btn_index:hover{
    border: 1px solid #b4b8bb;
    background: white;
    color: #b4b8bb;
}

/* MENU / HEADER */
header{
   /*box-shadow: 0px 0px 9px -1px;*/
   height: auto;
   min-height: 55px;
   margin-bottom: 2%;
   background-color: white;
   line-height: 30px;
   vertical-align: middle;
   border-bottom: 1px solid #b4b8bb;
}
header nav li{
    display: inline-block;
    padding: 1%;
    font-size: 1em;
}
header nav li a{
    padding-bottom: 2px;
    font-family: 'lubalgraphmd', helvetica;
}
header a.admin{
   color: orange;
}
header nav li a:hover,
a.admin:hover{
   color: #b4b8bb;
   /*border-color: #335163; */
   border-bottom: none;
}
header nav li a.active{
   border-bottom: #335163; 
}
.bloc_logo{
    float: left;
   margin: 1%;
}
#logo_header{
  display: block;
}
.logo_admin{
   display: block;
   margin-top: 2%;
   margin: auto;
}
/* FOOTER */
footer{
   margin-top: 5%;
   padding-top: 4%;
   padding-bottom: 4%;
   background-color: white;
   border-top: 1px solid #b4b8bb;
}
footer a:hover{
   border-bottom: none;
   color: tomato;
}

/* FORMS */
fieldset{
    width: 60%;
    margin: 5% 15%;
    margin-bottom: 1%;
    padding: 1% 5%;
    padding-top: 5%;
    font-family: 'lubalgraphmd';
    border: 2px solid  #b4b8bb;
       -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    
}
input, select, textarea{
    width: 90%;
    margin: 5%;
    margin-top: 1%;
    display: block;
    font-family: 'lubalgraphmd';
    border: 1px solid  #b4b8bb;
       -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
textarea{
    height: 60px;
}
input{
    padding: 1%;
}
.fiche_produit select,.fiche_produit option, select.fiche_bar ,option.fiche_bar{
   background: white;
   color: rgb(51, 81, 99);
   padding: 1% 0;
   font-weight: bold;
   font-size: 0.9em;
}

input:hover,
select:hover,
textarea:hover{
   border-color: rgb(51, 81, 99);
}

input[type=checkbox], input[type=radio]{
    width: 4%;
    display: inline-block;
}
input[type=submit]{
   font-size: 1em;
   font-family: 'lubalgraphmd';
   font-weight: bold;
   font-size: 1.2em;
   border: none;
   background-color: rgb(51, 81, 99);
   color: white;
   /*background-color: #b4b8bb;*/
}
input.btn_promo{
   font-size: 1em;
   width: 100%;
}
input[type=submit]:hover{
    background-color: rgba(51, 81, 99, 0.5);

}
label{
    width: 50%;
    text-align: left;
}


/* PROFIL */
.photo_profil{
    width: 30%;
    display: inline-block;
}
.infos_profil{
    width: 30%;
    display: inline-block;
    height: 200px;
    vertical-align: top;
    padding: 2%;
}
/* fin FORM */



 /* div.backstretch{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  margin: -10px; /* Added to get rid of white blur borders */
/*} */ 



img.thumbnail{
    width: 200px;
}


/* TABLEAUX */

table{
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}
th{
    padding: 1%;

    color: #b4b8bb;
    font-size: 0.8em; 
}

th a:hover,
th a.active,
th a.actif{
   border: none; 
}
th a.active,
th a.actif{
    color: orange;
}
td{
    padding: 0.5%;
    font-size: 0.6em;
    font-family: verdana;
    text-align: center;
}
td a{
   font-family: 'lubalgraphmd';
   font-size: 1.3em;
   font-weight: bold;
   padding: 15px;
}
td a:hover{
   border-bottom: none;
}
tr{
    border-bottom: 1px solid #b4b8bb;
} 
tr:hover{
    border-bottom: 1px solid rgb(51, 81, 99);
}
table tbody tr:nth-child(odd) {
    background-color: rgba(192, 192, 192, 0.25); 
}
table tbody tr:first-child{
    background-color: white; 
    /*border-color: white;*/
    border: 1px solid #b4b8bb;
}
tr td a{
   padding: 2%;
}
.tr_active{
    background-color: rgba(92, 154, 132, 0.25) !important;
}
.large_table th{
    
    padding: 0.3%;
    font-size: 0.6em;
}

.large_table td{

    padding: 0.2%;
    font-size: 0.5em;
}
/* PRODUITS */

div.produit{
    width: 45%;
    display: inline-block;
    margin: 2%;
    text-align: center;
}
td.total_panier{
   font-size: 1.5em;
}
.infos_panier{
   padding: 4%;
   vertical-align: top;
}
.bg_color1{
    background-color: #62BCCD;
    border: none;
}
 div.bg_color1 p,
 div.bg_color1 h4,
 div.bg_color1 a{
    color: #2c616b;
 }
.bg_color2{
 /*   background-color: #2c616b; */
    border: none;
}
  div.bg_color1 h2{
    margin: 4%;
    padding: 0;
}
.prix_produit{
    /*border: 2px solid grey; */
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    width: 20%;
    background-color: white;
    margin: 2% auto;
    margin-left: 10px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;

 }
 .collection_produit{
    display: inline-block;
    margin: 2%;
   vertical-align: middle;
 }
.prix_produit{
    line-height: 40px;
    display: inline-block;
    width: 25%;
    vertical-align: middle;
}
.img_produit, .infos_produit{
    display: inline-block;
}
.img_produit{
     margin-top: 5%;
}

/* BARS */

div.bar{
    width: 80%;
    margin: auto;
}
div.vignette_bar{
   width: 29%;
   display: inline-block;
   border: none;
   box-shadow: 0px -1px 9px -4px;
   height: 320px;
   margin: 2%;
   padding:0;
   padding-bottom: 2%;

}
div.vignette_bar div.contact_bar{
   padding: 2%;
}
div.vignette_bar h3{
   margin: 0.5%;
}

div.vignette_produit{
   width: 29%;
   display: inline-block;
   border: none;
   box-shadow: 0px -1px 9px -4px;
   height: 380px;
   margin: 2%;
}
div.vignette_produit h2{
   padding-top: 7%;
   margin-bottom: 0; 
}
@media(max-width: 830px) {
  div.vignette_produit{  
      width: 40%;
   }
   div.vignette_bar{
       width: 70%;
       margin-left:12%;
   }
}
@media(max-width: 600px) {
  div.vignette_produit {  
      width: 60%;
      margin-bottom:3%;
      margin-left:20%;
   }
   div.vignette_bar{
      width: 70%;
      margin-left: 12%;
   }
}

@media(max-width: 400px) {
  div.vignette_produit, div.vignette_bar{ 
      display: block;
      width: 90%;
      margin-left: 2%;
   }
}

.img_vignette{
    min-height: 150px;
    width: 100%;
    overflow: hidden;
}
div.bar .adresse_bar,
div.bar .contact_bar{
    display: inline-block;
    margin: 4%;
}
/* fin BARS */
.aperos_index{
   width: 100%;
  
} 
/*.aperos_index div{
   width: 40%;
   display: inline-block;
}
.text_index{
   display: inline-block;
   width: 50%;
}
*/
.fiche_produit h1{
  font-size: 1.3em;
}
.block_inline{
    display: inline-block;
}
.block_inline img, {
    display: inline-block;
    width: 70%; 
}
.bloc_fiche{
   width: 50%;
   vertical-align: middle;
}
.bloc_fiche label{
   font-weight: bold;
}
.bloc_fiche h2{
    font-size: 1.9em;
    color: #335163;
    font-weight: bolder;
}
.no_border,
.no_border:hover{
   border: none;
}


.text-center{
    text-align: center;
}

.teal{
    color: teal;
}
.orange{
    color: orange;
}
.tomato{
    color: tomato;
}


div.tri a:hover{
   border: none;
}
/*    ANIM PHOTOS   */ 

/* The slow way */
.make-it-slow {
 /* box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out: */
}

/* Transition to a bigger shadow on hover */
.make-it-slow:hover {
/*  box-shadow: 0 5px 15px rgba(0,0,0,0.3); */
}

/* The fast way */
.make-it-fast {
 /* box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
}

/* Pre-render the bigger shadow, but hide it */
.make-it-fast:after {
/*  box-shadow: 0 5px 15px rgba(0,0,0,0.3); */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.make-it-fast:hover:after {
  opacity: 1;
}

.box {

/*  box-shadow: 0 1px 2px rgba(0,0,0,0.15); */
  transition: all 0.3s ease-in-out;
}

/* Create the hidden pseudo-element */
/* include the shadow for the end state */
.box:after  {

  opacity: 0;

/*  box-shadow: 0 5px 15px rgba(0,0,0,0.3); */
 
}
 
/* Scale up the box */
.box:hover {
  transform: scale(1.8, 1.8);
}

/* Fade in the pseudo-element with the bigger shadow */
.box:hover:after {
  opacity: 1;
}


/* Vignette bar */
.img_bar{
   height: 150px;
   overflow: hidden;
   z-index: 10; 
}
.img_bar .switch_titre{
    height: 35px;
    line-height: 35px;
    background: white;
    z-index: 11;
    color: black;
    position: relative;
    bottom: 75px;
    font-size: 1.8em;
    opacity: 0;
}
.img_bar .switch_titre p{
   position: relative;
   bottom: 75px;
}

.img_bar:hover .img_bar .switch_titre p{
  z-index: 11;
}
.vignette_bar:hover .switch_titre{
   
   opacity: 0.9; 
   transition: opacity 1s ease-in-out;
}

