
/*@font-face {
    font-family: 'print_boldregular';
    src: url('../fonts/printbold-webfont.eot');
    src: url('../fonts/printbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/printbold-webfont.woff2') format('woff2'),
         url('../fonts/printbold-webfont.woff') format('woff'),
         url('../fonts/printbold-webfont.ttf') format('truetype'),
         url('../fonts/printbold-webfont.svg#print_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'print_clearlyregular';
    src: url('../fonts/printclearly-webfont.eot');
    src: url('../fonts/printclearly-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/printclearly-webfont.woff2') format('woff2'),
         url('../fonts/printclearly-webfont.woff') format('woff'),
         url('../fonts/printclearly-webfont.ttf') format('truetype'),
         url('../fonts/printclearly-webfont.svg#print_clearlyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
@font-face {
    font-family: 'nunitoblack';
    src: url('../fonts/nunito-black-webfont.eot');
    src: url('../fonts/nunito-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-black-webfont.woff2') format('woff2'),
         url('../fonts/nunito-black-webfont.woff') format('woff'),
         url('../fonts/nunito-black-webfont.ttf') format('truetype'),
         url('../fonts/nunito-black-webfont.svg#nunitoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'nunitobold';
    src: url('../fonts/nunito-bold-webfont.eot');
    src: url('../fonts/nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nunito-bold-webfont.woff2') format('woff2'),
         url('../fonts/nunito-bold-webfont.woff') format('woff'),
         url('../fonts/nunito-bold-webfont.ttf') format('truetype'),
         url('../fonts/nunito-bold-webfont.svg#nunitobold') format('svg');
    font-weight: normal;
    font-style: normal;

}


body{
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 18px;
}
.container{
    font-family: 'nunitobold', verdana;
    color: black;
    max-width: 1000px;
    margin: 0 auto;
}
h1, h2, h3, h4{
    font-family: 'nunitobold', helvetica;
}
p{
    margin: 0;
}
ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}

a,th{
    color: black;
    text-decoration: none;
	font-family: 'nunitobold';
}
a:hover,
.active,
.actif{
    border-bottom: orange solid 2px;
    color: #b4b8bb;
}
a.btn_delete:hover{
    color: tomato;
    border: none;
}
a.btn_edit:hover{
    color: teal;
}
header nav li{
    display: inline-block;
    margin: 1%;
    font-size: 1em;
}
header nav li a{
    padding-bottom: 2px;
}
#logo_header{
    float: left;
    margin: 1%;
}
.msg_success{
    color: teal;
}
.msg_erreur{
    color: tomato;
}

.box_info{
    border-top: 2px solid #b4b8bb;
    padding: 4% 5%;
    width: 90%;
    vertical-align: top;
   

}

fieldset{
    width: 40%;
    margin: 5% 25%;
    margin-bottom: 1%;
    padding: 1% 5%;
    font-family: 'nunitobold';
    border: 2px solid  #b4b8bb;
       -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    
}
input, select, textarea{
    width: 90%;
    margin: 5%;
    margin-top: 1%;
    display: block;
    font-family: 'nunitobold';
    border: 1px solid  #b4b8bb;
       -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright:3px;
    -moz-border-radius-bottomleft:3px;
    -moz-border-radius-bottomright:3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}
textarea{
    height: 100px;
}
input[type=checkbox], input[type=radio]{
    width: 4%;
    display: inline-block;
}
input[type=submit]{
    font-size: 1em;
}
label{
    width: 50%;
    text-align: left;

}

.photo_profil{
    width: 30%;
    display: inline-block;
}
.infos_profil{
    width: 30%;
    display: inline-block;
}

 /* div.backstretch{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

  margin: -10px; /* Added to get rid of white blur borders */
/*} */ 
img.thumbnail{
    width: 200px;
}

.col1
{
    border: none;
    width: 100%;
    margin-right: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.col2
{
    margin: 0;
    width: 100%;
    display: inline-block;
    border-left: 2px solid  #b4b8bb;
}
table{
    margin: 0;
    width: 100%;
    border-collapse: collapse;
}
   
th{
    padding: 1% 2%;

    color: #b4b8bb;
    font-size: 0.8em; 
}
th a:hover,
th a.active,
th a.actif{
   border: none; 
}
th a.active,
th a.actif{
    color: orange;
}
td{
    padding: 0.5%;
    font-size: 0.6em;
    font-family: verdana;
    text-align: center;
}
tr{
    border-bottom: 1px solid #b4b8bb;
   
} 
div.produit{
    width: 25%;
    border: 1px solid grey;
    display: inline-block;
    margin: 2%;
    text-align: center;
}
.large_table th{
    
    padding: 0.2%;
    font-size: 0.6em;
}

.large_table td{

    padding: 0.2%;
    font-size: 0.5em;
}
.text-center{
    text-align: center;
}
table tbody tr:nth-child(odd) {
    background-color: rgba(192, 192, 192, 0.25); 
}
table tbody tr:first-child{
    background-color: white; 
    /*border-color: white;*/
    border: 1px solid #b4b8bb;
}
.teal{
    color: teal;
}
.orange{
    color: orange;
}


